body {
    height: 100vh;
    background: linear-gradient(90deg, #000, #000D 35%, #000A 50%),
    url(/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 80px 128px 50px 128px; 
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link-container {
    display: flex;
    gap: 32px;
}

.link-container a {
    text-shadow: 2px 2px 2px black;
    padding: 6px;
    transition: all .7s;
}

.link-container a:hover {
    background-color: #E62721;
}

main {
    flex-grow: 1;
    display: flex;
}

footer {
    background-color: violet;
    height: 21px;
}

.content-container {
    background-color: aqua;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-container h1 {
    font-size: 7rem;
    display: flex;
    flex-direction: column;
}

.content-container h1 span {
    font-size: 2rem;
    font-weight: 200;
    transform: translateY(15px);
}

.movie-title{
    font-size: 2.6rem;
    color: #E62721;
}

.social {
    background-color: lightgreen;
    width: 48px;
}